:root {
    background-color: #000000;
    background-image: url(assets/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 32rem left 0 right 0 bottom 0;

    & * {
        font-family: Helvetica, sans-serif;
        line-height: 1.5em;
        color: #ffffff;
        margin: 0;
        padding: 0;
    }

    & ul {
        list-style: none;
    }

    & header {
        position: relative;
        height: 32rem;
        overflow: hidden;

        & > video {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            min-width: 100%;
            min-height: 100%;
            filter: brightness(50%);
        }

        & > nav {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            max-width: 64rem;
            margin: 0 auto;
            padding: 2rem 1rem;

            & > a {
                & > img {
                    height: 4rem;
                }
            }
        }
    }

    & main {
        max-width: 64rem;
        margin: 0 auto;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        & > section {
            display: flex;
            flex-flow: column;
            gap: 4rem;
            padding: 4rem 0;

            & h1 {
                text-transform: uppercase;
                font-weight: 900;
            }

            & figure {
                & > img {
                    display: block;
                    margin: 0 auto;
                }
    
                & > figcaption {
                    text-align: center;
                    text-transform: uppercase;
                    margin-top: 1rem;
                }
            }

            & strong {
                color: #51A2DE;
                text-transform: uppercase;
                font-weight: 900;
            }

            &#services {
                & > ul {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(min(100%, 8rem), 1fr));
                    gap: 2rem;

                    & > li {
                        & > figure {
                            & > img {
                                height: 4rem;
                            }
                        }
                    }
                }
            }

            &#team {
                & > h1 {
                    font-size: 2rem;
                    text-align: center;
                }

                & > ul {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(min(100%, 22rem), 1fr));
                    gap: 2rem;

                    & > li {
                        & > figure {
                            & > img {
                            }
                        }
                    }
                }
            }

            &#contact {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(min(100%, 22rem), 1fr));
                gap: 2rem;

                & > div {
                    display: flex;
                    flex-flow: column;
                    gap: 2rem;

                    & > hr {
                        border-color: #51A2DE;
                        margin-top: 4.25rem;
                    }

                    & > form {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: 
                            "name phone"
                            "email subject"
                            "message message"
                            "send .";
                        gap: 1rem;

                        input, textarea {
                            background-color: transparent;
                            border: .1rem solid #555555;
                            padding: 1em 1.5em;
                            font-size: 1rem;
                            min-width: 0;

                            &::placeholder {
                                font-family: Helvetica, sans-serif;
                                color: #555555;
                                font-weight: 700;
                            }

                            &:focus {
                                outline: .2rem solid #555555;
                            }

                            &[name=name] { grid-area: name; }
                            &[name=phone] { grid-area: phone; }
                            &[name=email] { grid-area: email; }
                            &[name=subject] { grid-area: subject; }
                            &[name=message] { grid-area: message; }
                        }
    
                        button[name=send] {
                            grid-area: send;
                            cursor: pointer;
                            padding: 1em 2em;
                            color: #000000;
                            width: fit-content;
                            font-weight: 900;
                            text-transform: uppercase;
                            border: none;
                        }
                    }
                }
            }

            &#customers {
                & > h1 {
                    text-align: center;
                }
    
                & > ul {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(min(100%, 8rem), 1fr));
                    gap: 2rem;
    
                    & > li {
                        & > figure {
                            & > img {
                                height: 4rem;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        max-width: 64rem;
        margin: 0 auto;
        padding: 4rem 1rem;

        & > nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            & > a {
                &  > img {
                    height: 4rem;
                }
            }

            & > ul {
                display: flex;
                flex-flow: column;
                gap: 1rem;

                & > li {
                    text-align: right;

                    & > p {
                        text-transform: uppercase;
                    }

                    & > a {
                        display: block;
                        color: #51A2DE;
                        text-decoration: none;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
